<!DOCTYPE html>
<html>
<head>
    <!-- ... -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
      /*  html, body {
            height: 100%;
            margin: 0;
            background-image: url('/images/CAAlogin.svg');
            background-size: cover;
          */  
        }

        .main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }


        .login-form {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 1rem;
            border-radius: 10px;
            width: 100%;
            max-width: 500px; /* Set a max-width to avoid it from expanding too much on larger screens */
            margin: auto;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>



<body>
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
